<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-identifiers" version="0.0.2">
    <name>IdentifiersPlugin</name>
    <description>Cordova Plugin Identifiers</description>
    <license>MIT License</license>
    <keywords>cordova,segment,analytics</keywords>
    <repo>https://github.com/aliatsis/cordova-plugin-segment.git</repo>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
      <engine name="cordova-android" version=">=4.0.0" />
      <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <js-module name="identifiers" src="www/identifiers.js">
        <clobbers target="window.identifiers" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IdentifiersPlugin">
                <param name="ios-package" value="IdentifiersPlugin" />
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/IdentifiersPlugin.h" />
        <source-file src="src/ios/IdentifiersPlugin.m" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IdentifiersPlugin">
                <param name="android-package" value="com.identifiers.cordova.IdentifiersPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />

            <!-- Recommended by us and most bundled integrations. -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

            <!-- Allow you to get LOGCAT information when a crash occurs. -->
            <uses-permission android:name="android.permission.READ_LOGS"/>

            <!-- Allow you to see which activity was active when a crash occurs. -->
            <uses-permission android:name="android.permission.GET_TASKS"/>

            <!-- Allows location to be tracked by bundled integrations. -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

            <!-- Required by Leanplum (and for push notifications). -->
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        </config-file>

        <!-- <framework src="com.segment.analytics.android:analytics-core:+"/> -->
        <framework src="com.google.android.gms:play-services-ads:+" />

        <source-file src="src/android/IdentifiersPlugin.java" target-dir="src/com/identifiers/cordova"/>
    </platform>
</plugin>
